@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap");
.hero .botonVerde, .mensaje .botonVerde {
  text-decoration: none;
  color: white;
  background-color: #61D055;
  padding: 3px 15px;
  border-radius: 20px; }
  .hero .botonVerde:hover, .mensaje .botonVerde:hover {
    color: #7F1C24; }

header nav div div ul li .botonRosa, .nosotros .nosotrosIntro div .botonRosa {
  text-decoration: none;
  color: white;
  background-color: #E01F32;
  padding: 2px 15px 2px 15px;
  border-radius: 20px; }
  header nav div div ul li .botonRosa:hover, .nosotros .nosotrosIntro div .botonRosa:hover {
    color: white;
    background-color: #61D055; }

.contactanos .contactanosFormulario fieldset .contactoDatos .botonProductoCompra, .productoDescripcion section div .botonProductoCompra {
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #E01F32;
  padding: 2px 15px 2px 15px;
  border-radius: 10px;
  width: 300px; }
  .contactanos .contactanosFormulario fieldset .contactoDatos .botonProductoCompra:hover, .productoDescripcion section div .botonProductoCompra:hover {
    color: white;
    background-color: #61D055; }

.contactanos .contactanosFormulario fieldset .contactoDatos .botonProductoCarrito, .productoDescripcion section div .botonProductoCarrito {
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 2px 15px 2px 15px;
  border-radius: 10px;
  border: 1px solid;
  border-color: black;
  width: 300px;
  margin-top: 5px; }
  .contactanos .contactanosFormulario fieldset .contactoDatos .botonProductoCarrito:hover, .productoDescripcion section div .botonProductoCarrito:hover {
    color: #7F1C24;
    font-weight: 600; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lemonada", cursive; }

/*-------PSEUDO CLASES-------*/
input {
  outline: none; }
  input:focus {
    border: 1px solid #7F1C24;
    border-radius: 5px; }

/*------HEADER------*/
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.966); }
  header nav {
    border-bottom: 2px solid;
    border-color: #0000001a;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 3px 3px 10px #0000001a;
    padding: 1px; }
    header nav div .navbar-brand {
      transition: 0.5s ease all; }
      header nav div .navbar-brand:hover {
        transform: scale(1.05); }

/*------MAIN------*/
.hero {
  height: 90vh;
  background-image: url(../img/unapatilla.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: inherit;
  background-position-x: center;
  padding-left: 70px;
  padding-top: 50px; }
  .hero p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #7F1C24; }

.productos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #F8485E;
  padding: 30px;
  border: 5px solid white;
  border-radius: 20px; }
  .productos div {
    display: flex;
    flex-direction: column;
    border: 5px solid #61D055;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    transition: 0.3s ease all; }
    .productos div:hover {
      transform: scale(1.05);
      box-shadow: -3px 0px 7px 3px rgba(127, 28, 36, 0.53);
      -webkit-box-shadow: -3px 0px 7px 3px rgba(127, 28, 36, 0.53);
      -moz-box-shadow: -3px 0px 7px 3px rgba(127, 28, 36, 0.53); }
    .productos div img {
      width: 350px;
      height: 100%;
      border-radius: 15px 15px 0px 0px;
      vertical-align: baseline; }
    .productos div h3 {
      background-color: white;
      margin: 0px; }
    .productos div a {
      text-decoration: none;
      color: white;
      border-radius: 0px 0px 10px 10px;
      background-color: #61D055; }

.nosotros h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 20px; }

.nosotros .nosotrosIntro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
  padding: 20px; }
  .nosotros .nosotrosIntro img {
    width: 300px;
    height: 300px; }
  .nosotros .nosotrosIntro div p {
    padding: 0px 20px 20px 20px; }

.zonarandom {
  background-color: #7F1C24;
  padding: 20px;
  color: white;
  border: 5px solid white;
  border-radius: 20px;
  margin: 25px; }
  .zonarandom h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 15px; }
  .zonarandom div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    text-align: justify;
    padding: 20px; }
    .zonarandom div p {
      width: 600px;
      padding: 20px; }

/*------mensaje pegajoso------*/
.mensaje {
  position: fixed;
  bottom: 60px;
  right: 40px;
  background-color: #61D055;
  border-radius: 20px;
  width: 350px;
  height: 70px;
  color: white;
  font-size: 0.8 rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .mensaje:hover {
    animation: mensajito 1s forwards infinite; }

@keyframes mensajito {
  0% {
    transform: scale(1.1); }
  100% {
    border-radius: 20px 20px 0px 20px; } }
  .mensaje p {
    margin-bottom: 0px; }

/*----------------------almacen---------------------*/
.almacen {
  display: flex;
  justify-content: stretch; }
  .almacen .almacenTitulo {
    background-color: #E01F32;
    padding: 20px;
    margin: 5px;
    color: white; }
    .almacen .almacenTitulo h1 {
      font-size: 1.3rem; }
    .almacen .almacenTitulo p {
      text-align: justify; }
  .almacen .almacenProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: 5px; }
    .almacen .almacenProductos div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; }
      .almacen .almacenProductos div a img {
        width: 350px; }
      .almacen .almacenProductos div h2 {
        padding: 0px 0px 0px 20px;
        font-size: 1rem;
        width: 100%; }
      .almacen .almacenProductos div p {
        background-color: #61d0553f;
        border-radius: 10px;
        padding: 5px 0px 5px 20px;
        font-size: 0.8rem;
        width: 100%; }

/*----------------------conocenos-------------------*/
.conocenos {
  display: flex; }
  .conocenos .conocenosColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; }
    .conocenos .conocenosColumn img {
      width: 400px;
      height: 400px; }
    .conocenos .conocenosColumn div h1 {
      padding: 5px; }
    .conocenos .conocenosColumn div p {
      text-align: justify; }
      .conocenos .conocenosColumn div p a {
        text-decoration: none;
        color: #E01F32; }
  .conocenos .conocenosReverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; }
    .conocenos .conocenosReverse div h1 {
      padding: 5px; }
    .conocenos .conocenosReverse div p {
      text-align: justify; }
      .conocenos .conocenosReverse div p a {
        text-decoration: none;
        color: #E01F32; }
    .conocenos .conocenosReverse img {
      width: 400px;
      height: 400px; }

/*----------------------contactanos-------------------*/
.contactanos {
  display: flex;
  margin: 5px;
  justify-content: first baseline; }
  .contactanos .contactanosTitulo {
    background-color: #E01F32;
    color: white;
    width: 50%;
    padding: 20px; }
  .contactanos .contactanosFormulario {
    padding: 20px; }
    .contactanos .contactanosFormulario fieldset {
      padding: 20px;
      border: 1px solid #61d0553f;
      border-radius: 5px; }
      .contactanos .contactanosFormulario fieldset .contactoDatos {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px; }
        .contactanos .contactanosFormulario fieldset .contactoDatos label {
          font-size: 0.8rem; }
        .contactanos .contactanosFormulario fieldset .contactoDatos div {
          font-size: 0.9rem; }
        .contactanos .contactanosFormulario fieldset .contactoDatos select {
          font-size: 0.8rem; }
        .contactanos .contactanosFormulario fieldset .contactoDatos div {
          font-size: 0.9rem; }
          .contactanos .contactanosFormulario fieldset .contactoDatos div label {
            font-size: 0.8rem; }
        .contactanos .contactanosFormulario fieldset .contactoDatos div {
          font-size: 0.9rem; }
          .contactanos .contactanosFormulario fieldset .contactoDatos div h3 {
            font-size: 1rem; }

/*----------------------producto1-------------------*/
.productoDescripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
  height: 80vh; }
  .productoDescripcion section img {
    width: 500px;
    height: 500px; }
  .productoDescripcion section h1 {
    text-align: center; }
  .productoDescripcion section p {
    text-align: justify;
    padding: 25px; }
  .productoDescripcion section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px; }

/*------FOOTER------*/
footer .footerLogos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #E01F32;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #00000062; }
  footer .footerLogos .footerLogosRedes a img {
    height: 40px;
    margin: 10px;
    transition: 0.5s ease all; }
    footer .footerLogos .footerLogosRedes a img:hover {
      transform: scale(1.1); }
  footer .footerLogos .footerLogosContactanos {
    display: flex;
    align-items: center; }
    footer .footerLogos .footerLogosContactanos img {
      height: 30px; }
    footer .footerLogos .footerLogosContactanos a {
      text-decoration: none;
      color: white;
      padding: 5px; }

footer .logoFinal {
  display: flex;
  justify-content: center; }
  footer .logoFinal a img {
    height: 20px; }

/* --------------------media queries---------------------*/
@media screen and (max-width: 1190px) {
  /* ------------index------------*/
  .productos div img {
    width: 280px;
    height: 280px; }
  .productos div h3 {
    font-size: 1rem; }
  .nosotros div img {
    width: 300px;
    height: 300px; }
  /* ------------almacen------------*/
  .almacen .almacenProductos div a img {
    width: 100%; } }

@media screen and (max-width: 992px) {
  .hero {
    padding-left: 30px;
    padding-top: 30px; }
  .hero p {
    font-size: 1rem; }
  /* ------------conocenos------------*/
  .conocenos .conocenosColumn img {
    width: 300px;
    height: 300px; }
  .conocenos .conocenosReverse img {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 970px) {
  /* ------------index------------*/
  .productos div img {
    width: 180px;
    height: 180px; }
  .productos div h3 {
    font-size: 0.8rem; }
  .nosotros div img {
    width: 200px;
    height: 200px; }
  /* -------mensaje pegaso --------*/
  .mensaje {
    width: 200px; }
  .mensaje p {
    display: none; }
  /*------contactanos------*/
  .contactanosTitulo h1 {
    font-size: 1.2rem; }
  .contactanos .contactanosTitulo p {
    font-size: 0.8rem; }
  .contactanos .contactanosFormulario fieldset .contactoDatos {
    font-size: 1rem; } }

@media screen and (max-width: 890px) {
  /* ----------almacen-------------*/
  .almacen .almacenTitulo p {
    font-size: 0.8rem; }
  .almacen {
    flex-direction: column; }
  /*---Producto1---*/
  .productoDescripcion {
    flex-direction: column; }
  .productoDescripcion section img {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 790px) {
  /* ------------index------------*/
  .nosotros .nosotrosIntro img {
    display: none; }
  .zonarandom div {
    flex-direction: column; }
  .zonarandom div p {
    width: 100%;
    padding: 20px; }
  .zonarandom div iframe {
    width: 500px;
    height: 280px; }
  /* ------------conocenos------------*/
  .conocenos {
    flex-direction: column; }
  .conocenos .conocenosReverse {
    flex-direction: column-reverse; }
  /*-----contactanos------*/
  .contactanos {
    flex-direction: column; }
  .contactanos .contactanosTitulo {
    width: 100%; } }

@media screen and (max-width: 650px) {
  /* ------------index------------*/
  header nav div a img {
    height: 50px; }
  .hero {
    padding-left: 30px;
    padding-top: 30px;
    height: 80vh; }
  .hero a {
    font-size: 0.8rem; }
  .productos div img {
    width: 100px;
    height: 100px; }
  .productos div h3 {
    display: none; }
  .productos div a {
    font-size: 0.8rem; }
  .nosotros .nosotrosIntro div p {
    font-size: 0.85rem; }
  .zonarandom div iframe {
    width: 400px;
    height: 220px; }
  /* -------mensaje pegaso --------*/
  .mensaje {
    display: none; } }

@media screen and (max-width: 560px) {
  /* ------------index------------*/
  header nav div a img {
    height: 35px; }
  header nav div div ul li .botonRosa {
    font-size: 0.7rem; }
  .nosotros .nosotrosIntro div .botonRosa {
    font-size: 0.7rem; }
  .hero {
    padding-left: 25px;
    padding-top: 15px;
    height: 45vh;
    background-size: 880px; }
  .hero p {
    font-size: 0.8rem; }
  .nosotros h2 {
    font-size: 1rem; }
  .zonarandom div iframe {
    width: 300px;
    height: 170px; }
  .zonarandom h2 {
    font-size: 1rem; }
  .zonarandom div {
    padding: 0px; }
  .zonarandom div p {
    font-size: 0.8rem; }
  /*--------------almacen------------*/
  .almacen .almacenProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; }
  /* ------------conocenos------------*/
  .conocenos .conocenosColumn div h1 {
    font-size: 1rem; }
  .conocenos .conocenosColumn div p {
    font-size: 0.8rem; }
  .conocenos .conocenosColumn img {
    width: 200px;
    height: 200px; }
  .conocenos .conocenosReverse div h1 {
    font-size: 1rem; }
  .conocenos .conocenosReverse div p {
    font-size: 0.8rem; }
  .conocenos .conocenosReverse img {
    width: 200px;
    height: 200px; }
  /*------------footer--------------*/
  footer .footerLogos .footerLogosRedes {
    height: 50px; }
  footer .footerLogos .footerLogosRedes a img {
    height: 25px; }
  footer .footerLogos .footerLogosContactanos img {
    height: 20px; }
  footer .footerLogos .footerLogosContactanos a {
    font-size: 0.5rem; }
  footer .logoFinal a img {
    height: 10px; } }

@media screen and (max-width: 410px) {
  /* ------------index------------*/
  header nav div a img {
    height: 25px; }
  .hero {
    padding-left: 15px;
    padding-top: 15px;
    height: 42vh;
    background-size: 600px;
    background-position-y: 60px; }
  .productos div {
    border: 3px solid #61D055;
    margin: 3px; }
  .productos div a {
    font-size: 0.6rem; }
  .nosotros h2 {
    font-size: 0.8rem;
    padding: 10px; }
  .nosotros .nosotrosIntro {
    padding: 0px 10px; }
  .nosotros .nosotrosIntro div p {
    font-size: 0.7rem; }
  .zonarandom {
    margin: 10px; }
  .zonarandom h2 {
    padding: 5px;
    font-size: 0.8rem; }
  .zonarandom div iframe {
    width: 255px;
    height: 145px; }
  .zonarandom div p {
    font-size: 0.7rem; }
  /*--------------almacen------------*/
  .almacen .almacenTitulo h1 {
    font-size: 0.8rem; }
  .almacen .almacenTitulo p {
    font-size: 0.6rem; }
  .almacen .almacenProductos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto; }
  .almacen .almacenProductos div h2 {
    font-size: 0.8rem; }
  .almacen .almacenProductos div p {
    font-size: 0.6rem; }
  .almacen .almacenProductos div a img {
    width: 200px; }
  /*---Producto1---*/
  .productoDescripcion section h1 {
    font-size: 1rem; }
  .productoDescripcion section p {
    font-size: 0.8rem; }
  .productoDescripcion section div .botonProductoCompra {
    width: 200px;
    font-size: 0.8rem; }
  .productoDescripcion section div .botonProductoCarrito {
    width: 200px;
    font-size: 0.8rem; }
  /*------contactanos-----*/
  .contactanos .contactanosFormulario fieldset .contactoDatos div textarea {
    width: 250px; } }

@media screen and (max-width: 350px) {
  /* ------------index------------*/
  header nav div a img {
    height: 20px; }
  header nav div div ul li .botonRosa {
    font-size: 0.6rem; }
  .nosotros .nosotrosIntro div .botonRosa {
    font-size: 0.6rem; }
  .productos div img {
    width: 80px;
    height: 80px; }
  .nosotros .nosotrosIntro div p {
    padding: 0px 10px; }
  .zonarandom div iframe {
    width: 215px;
    height: 120px; }
  /*------contactanos-----*/
  .contactanos .contactanosFormulario fieldset .contactoDatos div {
    width: 200px; } }
