@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lemonada', cursive;
}
/* ----------------------header---------------------*/

header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.966);
}

header nav{
    border-bottom: 2px solid;
    border-color: #0000001a;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 3px 3px 10px #0000001a;
    padding: 1px;
}

.navbar-brand{
    transition: 0.5s ease all;
}
.navbar-brand:hover{
    transform: scale(1.05);
}
.botonRosa{
    text-decoration: none;
    color: white ;
    background-color: #E01F32;
    padding: 2px 15px 2px 15px ;
    border-radius: 20px;
}
.botonRosa:hover{
    color: white;
    background-color: #61D055;
}

/* -----------------------main----------------------*/
.hero{
    height: 90vh;
    background-image: url(../img/unapatilla.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: inherit;
    background-position-x: center;
    padding-left: 70px;
    padding-top: 50px;
}
.hero p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #7F1C24;
}
.botonVerde{
    text-decoration: none;
    color: white ;
    background-color: #61D055;
    padding: 3px 15px;
    border-radius: 20px;
}
.botonVerde:hover{
    color: #E01F32;
}
.productos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F8485E;
    padding: 30px;
    border: 5px solid white;
    border-radius: 20px;
}

.productos div{
    display: flex;
    flex-direction: column;
    border: 5px solid #61D055;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    transition: 0.3s ease all;
}

.productos div:hover{
    transform: scale(1.05);
    box-shadow: -3px 0px 7px 3px rgba(127,28,36,0.53);
    -webkit-box-shadow: -3px 0px 7px 3px rgba(127,28,36,0.53);
    -moz-box-shadow: -3px 0px 7px 3px rgba(127,28,36,0.53);
}
.productos div img{
    width: 350px;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    vertical-align: baseline;
}
.productos div h3{
    background-color: white;
    margin: 0px;
}
.productos div a{
    text-decoration: none;
    color: white;
    border-radius: 0px 0px 10px 10px;
    background-color: #61D055;
}

.nosotros h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 20px;
}
.nosotrosIntro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.nosotrosIntro img{
    width: 300px;
    height: 300px;
}

.nosotrosIntro div p{
    padding: 0px 20px 20px 20px;
}

.zonarandom{
    background-color: #7F1C24;
    padding: 20px;
    color: white;
    border: 5px solid white;
    border-radius: 20px;
    margin: 25px;
}
.zonarandom h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 15px;
}
.zonarandom div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    padding: 20px;
}
.zonarandom div p{
    width: 600px;
    padding: 20px;
}

/*----------------------almacen---------------------*/
.almacen{
    display: flex;
    justify-content: stretch;
}
.almacenTitulo{
    background-color: #E01F32;
    padding: 20px;
    margin: 5px;
    color: white;
}
.almacenTitulo h1{
    font-size: 1.3rem;
}
.almacenTitulo p{
    text-align: justify;
}
.almacenProductos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: 5px;
}
.almacenProductos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.almacenProductos div img{
    width: 350px;
}
.almacenProductos div h2{
    padding: 0px 0px 0px 20px;
    font-size: 1rem;
    width: 100%;
}
.almacenProductos div p{
    background-color: #61d0553f;
    border-radius: 10px;
    padding: 5px 0px 5px 20px;
    font-size: 0.8rem;
    width: 100%;
}

/*----------------------conocenos-------------------*/

.conocenos{
    display: flex;
}
.conocenosColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.conocenosReverse{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.conocenos section div h1{
    padding: 5px;
}
.conocenos section div p{
    text-align: justify;
}
.conocenos section img{
    width: 400px;
    height: 400px;
}

/*----------------------contactanos-------------------*/

.contactanos{
    display: flex;
    margin: 5px;
    justify-content: first baseline;
}

.contactanosTitulo{
    background-color: #E01F32;
    color: white;
    width: 50%;
    padding: 20px;
}

.contactanosFormulario{
    padding: 20px;
}

.contactanosFormulario fieldset{
    padding: 20px;
    border: 1px solid #61d055ad ;
    border-radius: 5px;
}
.contactoDatos{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.contactanosFormulario fieldset label{
    font-size: 0.8rem;
}
.contactanosFormulario fieldset div{
    font-size: 0.9rem;
}
.contactanosFormulario fieldset select{
    font-size: 0.8rem;
}
.contactanosFormulario fieldset div h3{
    font-size: 1rem;
}

/*----------------------producto1-------------------*/

.productoDescripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.productoDescripcion section img{
    width: 500px;
    height: 500px;
}

.productoDescripcion section h1{
    text-align: center;
}

.productoDescripcion section p{
    text-align: justify;
    padding: 25px;
}

.productoDescripcion section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.botonProductoCompra{
    text-decoration: none;
    text-align: center;
    color: white ;
    background-color: #E01F32;
    padding: 2px 15px 2px 15px ;
    border-radius: 10px;
    width: 300px;
}
.botonProductoCompra:hover{
    color: white;
    background-color: #61D055;
}

.botonProductoCarrito{
    text-decoration: none;
    text-align: center;
    color: black ;
    padding: 2px 15px 2px 15px ;
    border-radius: 10px;
    border: 1px solid;
    border-color: black;
    width: 300px;
    margin-top: 5px;
}
.botonProductoCarrito:hover{
    color: #7F1C24;
    font-weight: 600;
}

/*-----------------------mensajepegajoso-------------*/

.mensaje{
    position: fixed;
    bottom: 60px;
    right: 40px;
    background-color: #61D055;
    border-radius: 20px;
    width: 350px;
    height: 70px;
    color: white;
    font-size: 0.8 rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mensaje:hover{
    animation: mensajito 1s forwards infinite;
}
@keyframes mensajito{
    0%{
        transform: scale(1.1);
    }
    100%{
        border-radius: 20px 20px 0px 20px;
    }
}
.mensaje p{
    margin-bottom: 0px;
}

/* ----------------------footer---------------------*/
.footerLogos{
    background-color: #E01F32;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #00000062;   
}
.footerLogosRedes a img{
    height: 40px;
    margin: 10px;
    transition: 0.5s ease all;
}
.footerLogosRedes img:hover{
    transform: scale(1.1);
}
.footerLogosContactanos{
    display: flex;
    align-items: center;
}
.footerLogosContactanos a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.footerLogosContactanos img{
    height: 30px;
}
.logoFinal{
    display: flex;
    justify-content: center;
}
.logoFinal a img{
    height: 20px;
}

/*-------PSEUDO CLASES-------*/

input{
    outline: none;
}

input:focus{
    border: 1px solid #7F1C24;
    border-radius: 5px;
}

/* --------------------media queries---------------------*/
@media screen and (max-width: 1190px){    
    /* ------------index------------*/
    .productos div img{
        width: 280px;
        height: 280px; 
    }
    .nosotros div img{
        width: 300px;
        height: 300px;
    }
    /* ------------almacen------------*/
    .almacenProductos div img{
            width: 100%;
    }
}

@media screen and (max-width: 992px){
    .hero{
        padding-left: 30px;
        padding-top: 30px;
    }
    .hero p{
        font-size: 1rem;
    }
    /* ------------conocenos------------*/
    .conocenos section img{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 970px){
    /* ------------index------------*/
    .productos div img{
        width: 180px;
        height: 180px; 
    }
    .productos div h3{
        font-size: 0.8rem;
    }

    .nosotros div img{
        width: 200px;
        height: 200px;
    }
    /* -------mensaje pegaso --------*/
    .mensaje{
        width: 200px;
    }
    .mensaje p{
        display: none;
    }
    /*------contactanos------*/
    .contactanosTitulo h1{
        font-size: 1.2rem;
    }
    .contactanosTitulo p{
        font-size: 0.8rem;
    }
    .contactanosFormulario fieldset legend{
        font-size: 1rem;
    }
}
@media screen and (max-width: 890px){
    /* ----------almacen-------------*/
    .almacenTitulo p{
        font-size: 0.8rem;
    }
    .almacen{
            flex-direction: column;
    }
    /*---Producto1---*/
    .productoDescripcion{
        flex-direction: column;
    }
    .productoDescripcion section img{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 790px) {
    /* ------------index------------*/

    .nosotrosIntro img{
        display: none;
    }

    .zonarandom div{
        flex-direction: column;
    }

    .zonarandom div p{
        width: 100%;
        padding: 20px;
    }

    .zonarandom div iframe{
        width: 500px;
        height: 280px;
    }
    /* ------------conocenos------------*/
    .conocenos{
        flex-direction: column;
    }
    .conocenosReverse{
        flex-direction: column-reverse;
    }
    /*-----contactanos------*/
    .contactanos{
        flex-direction: column;
    }
    .contactanosTitulo{
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    
    /* ------------index------------*/
    header div a img{
        height:50px;
    }
    .hero{
        padding-left: 30px;
        padding-top: 30px;
        height: 80vh;
    }

    .hero a{
        font-size: 0.8rem;
    }

    .productos div img{
        width: 100px;
        height: 100px; 
    }
    .productos div h3{
        display: none;
    }
    .productos div a{
        font-size: 0.8rem;
    }

    .nosotrosIntro div p{
        font-size: 0.85rem;
    }

    .zonarandom div iframe{
        width: 400px;
        height: 220px;
    }
    /* -------mensaje pegaso --------*/
    .mensaje{
        display: none;
    }    
}

@media screen and (max-width: 560px){

    /* ------------index------------*/
    header div a img{
        height: 35px;
    }
    .botonRosa{
        font-size: 0.7rem;
    }
    .hero{
        padding-left: 25px;
        padding-top: 15px;
        height: 45vh;
        background-size: 880px;
    }
    .hero p {
        font-size: 0.8rem;
    }
    .nosotros h2{
        font-size: 1rem;
    }

    .zonarandom div iframe{
        width: 300px;
        height: 170px;
    }

    .zonarandom h2{
        font-size: 1rem;
    }
    .zonarandom div{
        padding: 0px;
    }
    .zonarandom div p{
        font-size: 0.8rem;
    }
    /*--------------almacen------------*/
   .almacenProductos{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    }
    /* ------------conocenos------------*/
    .conocenos section div h1{
        font-size: 1rem;
    }
    .conocenos section div p{
        font-size: 0.8rem;
    }
    .conocenos section img{
        width: 200px;
        height: 200px;
    }
    /*------------footer--------------*/
    .footerLogosRedes{
        height: 50px;
    }
    .footerLogosRedes a img{
        height: 25px;
    }
    .footerLogosContactanos img{
        height: 20px;
    }
    .footerLogosContactanos a{
        font-size: 0.5rem;
    }
    .logoFinal img{
        height: 10px;
    }
}
@media screen and (max-width:410px){
    
    /* ------------index------------*/
    header div a img{
        height: 25px;
    }
    .hero{
        padding-left: 15px;
        padding-top: 15px;
        height: 42vh;
        background-size: 600px;
        background-position-y: 60px;
    }
    .productos div{
        border: 3px solid #61D055;
        margin: 3px;
    }
    .productos div a{
        font-size: 0.6rem;
    }
    .nosotros h2{
        font-size: 0.8rem;
        padding: 10px;
    }
    .nosotrosIntro{
        padding: 0px 10px;
    }
    .nosotrosIntro div p{
        font-size: 0.7rem;
    }
    .zonarandom{
        margin: 10px;
    }
    .zonarandom h2{
        padding: 5px;
        font-size: 0.8rem;
    }
    .zonarandom div iframe{
        width: 255px;
        height: 145px;
    }
    .zonarandom div p{
        font-size: 0.7rem;
    }
    /*--------------almacen------------*/
    .almacenTitulo h1{
        font-size: 0.8rem;
    }
    .almacenTitulo p{
        font-size: 0.6rem;
    }
    .almacenProductos{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    }
    .almacenProductos div h2{
        font-size: 0.8rem;
    }
    .almacenProductos div p{
        font-size: 0.6rem;
    }
    .almacenProductos div img{
        width: 200px;
    }
    /*---Producto1---*/
    .productoDescripcion section h1{
        font-size: 1rem;
    }
    .productoDescripcion section p{
        font-size: 0.8rem;
    }
    .botonProductoCompra{
        width: 200px;
        font-size: 0.8rem;
    }
    .botonProductoCarrito{
        width: 200px;
        font-size: 0.8rem;
    }
    /*------contactanos-----*/
    .contactoDatos div textarea{
        width: 250px;
    }
}

@media screen and (max-width:350px){
    /* ------------index------------*/
    header div a img{
        height: 20px;
    }
    .botonRosa{
        font-size: 0.6rem;
    }
    .productos div img{
        width: 80px;
        height: 80px; 
    }
    .nosotrosIntro div p{
       padding: 0px 10px;
    }
    .zonarandom div iframe{
        width: 215px;
        height: 120px;
    }
    /*------contactanos-----*/
    .contactoDatos div textarea{
        width: 200px;
    }
}

