$fontfamily: 'Lemonada', cursive;

$colores:
white, 
black,
#E01F32,    
#F8485E,   
#7F1C24,  
#61D055,   
#61d0553f;  

%botonverde {
    text-decoration: none;
    color: nth($colores, 1);
    background-color: nth($colores, 6);
    padding: 3px 15px;
    border-radius: 20px;
    &:hover{
        color: nth($colores, 5);
    }
}

%botonrosa {
    text-decoration: none;
    color: nth($colores, 1) ;
    background-color: nth($colores, 3);
    padding: 2px 15px 2px 15px ;
    border-radius: 20px;
    &:hover{
        color: nth($colores, 1);
        background-color: nth($colores, 6);
    }
}

%botonPCompra{
    text-decoration: none;
    text-align: center;
    color: nth($colores, 1) ;
    background-color: nth($colores, 3);
    padding: 2px 15px 2px 15px ;
    border-radius: 10px;
    width: 300px;
    &:hover{
        color: nth($colores, 1);
        background-color: nth($colores, 6);
    }
}

%botonPCarrito{
    text-decoration: none;
    text-align: center;
    color: nth($colores, 2) ;
    padding: 2px 15px 2px 15px ;
    border-radius: 10px;
    border: 1px solid;
    border-color: nth($colores, 2);
    width: 300px;
    margin-top: 5px;
    &:hover{
        color: nth($colores, 5);
        font-weight: 600;
    }    
}


@mixin flex ($flex, $justify, $align, $direction){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}